body{
    background-image: url();
  }
  
  .buttons{
    padding: 20px;              /* 余白指定 */
    height: 100px;              /* 高さ指定 */
    text-align:  center;  
  }
  
  .btn-start{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #04f610;
    color: #FFF;
    border-bottom: solid 5px #2fd152;
    border-radius: 7px;
    font-size: 30px;
    margin:  10px;
  }

  .btn-pause{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f00914;
    color: #FFF;
    border-bottom: solid 5px #eb3838;
    border-radius: 7px;
    font-size: 30px;
    margin:  10px;
  }
  
  .btn-stop{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000000;
    color: #FFF;
    border-bottom: solid 5px #313642;
    border-radius: 7px;
    font-size: 30px;
    margin:  10px;
  }

  .btn-pause:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

  .btn-start:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

  .btn-stop:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }
  
  .H1{
    font-size: 50px;
    color: brown;
    text-align: center;
  }
  
  .H2{
    font-size: 30px;
    text-align: center;
  }