<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ラバーダックAI</title>
</head>
<link rel="stylesheet" href="./static/index.css">

<body>
  <h1 class="H1">ようこそラバーダックAIへ</h1>
  <h2 class="H2">一緒にデバッグしようぜ！</h2>
  <div class="buttons">
    <a href="#" class="btn-start" id="start-btn">　開始　</a>
    <a href="#" class="btn-pause" id="pause-btn">一時停止</a>
    <a href="#" class="btn-stop" id="start-btn">　終了　</a>
  </div>
  <div id="result-div"></div>

  <script type="text/javascript" src="speak.js"></script>
</body>

</html>