<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ラバーダックAI</title>
</head>

<link rel="stylesheet" href="../static/index.css">

<body>
  <div class="H1">
    <h1 id="welcom">Windows 95</h1>
  </div>
  
  <h2 class="H2">minecrasoft</h2>

  <div class="buttons">
    <a href="#" class="btn-start" id="start-btn">　開始　</a>
    <!-- <a href="#" class="btn-pause" id="pause-btn">一時停止</a> -->
    <a href="#" class="btn-stop" id="stop-btn">　終了　</a>
  </div>
  <h3 id="countdown" class="countdown"></h3>
  <h3 class=H3>出力文章</h3>

  <hr class="line">

  <div id="result-div"></div>
  <script type="text/javascript" src="../static/speak.js"></script>


</body>

</html>